{% extends '::base.html.twig' %}

{% block title %}Student details{% endblock %}

{% block body %}
    <h1>{{ student.name }}</h1>
    <p>{{ student.description }}</p>
    <p>{{ "now"|date('Y-m-d H:i:s') }}</p>
{% endblock %}
